Assembler/x64/
Assembler/.vs/
Assembler/assembler.i
Assembler/Assembler.sln
Assembler/Assembler.vcxproj
Assembler/Assembler.vcxproj.filters
Assembler/Assembler.vcxproj.user
Assembler/res.txt

SPU/x64/
SPU/.vs/
SPU/SPU.sln
SPU/SPU.vcxproj
SPU/SPU.vcxproj.filters
SPU/SPU.vcxproj.user
SPU/test.cpp
SPU/test.h
SPU/out.h
SPU/test_files/